{# src/Resources/views/Default/about.html.twig #}
{% extends 'base.html.twig' %}



{% block title %}A propos {% endblock %}



{% block body %}
<article>
    <p>on est dans about</p>

    <p>C'est ici que je vais mettre cv ainsi que les projets sur lesquel je peux participer</p>
</article>
{% endblock %}
