{# src/Resources/views/Default/about.html.twig #}
{% extends 'base.html.twig' %}



{% block title %}A propos {% endblock %}



{% block body %}
<article>
    <p>on est dans about</p>

    <p>C'est ici que je vais mettre cv ainsi que les projets sur lesquel je peux participer</p>
</article>

<article>
    <h3>Credentials</h3>
    Voici les differentes sources que j'ai put utiliser pour la realisation de ce site web
    <ol>
        <li><label for="montage"> Tres bon tutorial qui m'a permit de realiser un montage propre</label><a name="montage" about="source">https://www.grafikart.fr/tutoriels/html-css/menu-hamburger-responsive-512</a></li>
        <li><label for="selecteur">Des informations pour comprendre la propagation et limiter les effet de l'heritage</label><a name="selecteur" about="source">http://mymi.domy.be/LTP/08-CSS-Generalites/04-selecteurs.html</a></li>
        <li><label for="selecteur">La meme chose chez W3Schools</label><a name="selecteur" about="source">http://www.w3schools.com/cssref/css_selectors.asp</a></li>
        <li><label for="selecteur">Hamburger a tester</label><a name="selecteur" about="source">https://www.grafikart.fr/demo/CSS3/hamburger/index.html</a></li>


    </ol>
</article>
{% endblock %}
