{# app/Resources/views/Default/index.html.twig #}
{#{% extends 'layout.html.twig' %}#}

{% block content %}
    {% for entry in index_entries %}
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.body }}</p>
    {% endfor %}
{% endblock %}
