{# src/Resources/views/Default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My index {% endblock %}



{% block body %}

    <h2> on est dans l'index</h2>

    <article>

        <h2>

            Sapientia consuetudo magnae confidit opinione.
        </h2>

        <p>La on trouvera le permier article publier
            Ciliciam vero, quae Cydno amni exultat, Tarsus nobilitat, urbs perspicabilis hanc condidisse Perseus memoratur, Iovis filius et Danaes, vel certe ex Aethiopia profectus Sandan quidam nomine vir opulentus et nobilis et Anazarbus auctoris vocabulum referens, et Mopsuestia vatis illius domicilium Mopsi, quem a conmilitio Argonautarum cum aureo vellere direpto redirent, errore abstractum delatumque ad Africae litus mors repentina consumpsit, et ex eo cespite punico tecti manes eius heroici dolorum varietati medentur plerumque sospitales.
        </p>

    </article>

    <article>

        <h2>Ideo heiulans qui ide</h2>

        <p>Iam in altera philosophiae parte. quae est quaerendi ac disserendi, quae logikh dicitur, iste vester plane, ut mihi quidem videtur, inermis ac nudus est. tollit definitiones, nihil de dividendo ac partiendo docet, non quo modo efficiatur concludaturque ratio tradit, non qua via captiosa solvantur ambigua distinguantur ostendit; iudicia rerum in sensibus ponit, quibus si semel aliquid falsi pro vero probatum sit, sublatum esse omne iudicium veri et falsi putat.r</p>

    </article>

    <article>

        <h2>Christiani vexatus Maras</h2>

        <p>on trouvera le 3 article publier Primi igitur omnium statuuntur Epigonus et Eusebius ob nominum gentilitatem oppressi. praediximus enim Montium sub ipso vivendi termino his vocabulis appellatos fabricarum culpasse tribunos ut adminicula futurae molitioni pollicitos.</p>

    </article>

    <article>

        <h2>Otiosae pacataeque securitas</h2>

        <p>on trouvera le quatrieme article publier Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>

    </article>

    <article>

        <h2>Alamannorum Vadomarium</h2>

        <p>on trouvera le cinquielet article publier Procedente igitur mox tempore cum adventicium nihil inveniretur, relicta ora maritima in Lycaoniam adnexam Isauriae se contulerunt ibique densis intersaepientes itinera praetenturis provincialium et viatorum opibus pascebantur.</p>

    </article>



    {#{% for entry in blog_entries %}#}
    {#<h2>{{ entry.title }}</h2>#}
    {#<p>{{ entry.body }}</p>#}
    {#{% endfor %}#}
{% endblock %}
