{# src/Resources/views/Default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My index {% endblock %}



{% block body %}

    <h2> on est dans l'index</h2>azeaze

    <article>

        <h2>AAHaha</h2>

        <p>La on trouvera le dernier article publier</p>

    </article>

    <article>

        <h2>et ici</h2>

        <p>on trouvera le deuxieme article publier</p>

    </article>



    azeaze
    {#{% for entry in blog_entries %}#}
    {#<h2>{{ entry.title }}</h2>#}
    {#<p>{{ entry.body }}</p>#}
    {#{% endfor %}#}
{% endblock %}
