
{#<nav id="primary_nav">#}

    {#<ul>#}

        {#<li><a href="{{ path('homepage') }}">Home</a></li>#}

        {#<li><a href="#">Articles</a></li>#}

        {#<li><a href="{{ path('about') }}">About</a></li>#}


    {#</ul>#}

{#</nav>#}
<!--end primary_nav-->

<footer>

    <p>Gregogry Gerard 2016 <a href="http://wako057.net">Wako</a></p>

</footer>
