{# app/Resources/views/header.html.twig #}


<header id="header">

    <h1 class="logo"><a href="{{ path('homepage') }}">Home</a></h1>

    <a class="to_nav" href="#primary_nav">Menu</a>

    {#<a href="#" class="header__icon" id="header__icon"></a>#}

</header>
