{# app/Resources/views/header.html.twig #}


<header id="header">

    {#<h1 class="logo"><a href="{{ path('homepage') }}">Menu</a></h1>#}

    <a href="#" class="header__icon" id="header__icon"></a>



    <nav class="menu">

        <ul>

            <li><a href="{{ path('homepage') }}">Home</a></li>

            <li><a href="#">Articles</a></li>

            <li><a href="{{ path('about') }}">About</a></li>

            <li><a href="{{ path('admin') }}">Admin</a></li>

        </ul>

    </nav>



    {#<a class="to_nav" >Home</a>#}



    {#<a href="#" class="header__icon" id="header__icon"></a>#}

</header>
