{# app/Resources/views/lateral.html.twig #}

{#<aside id="lateral_nav">#}
    {#<nav class="lateral_nav">#}

        {#<ul>#}

            {#<li><a href="{{ path('homepage') }}">Home</a></li>#}

            {#<li><a href="#">Articles</a></li>#}

            {#<li><a href="{{ path('about') }}">About</a></li>#}


        {#</ul>#}

    {#</nav>#}
{#</aside>#}
