body {
    margin: 0;
}

/*ul.topnav {*/
/*list-style-type: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*overflow: hidden;*/
/*background-color: #333;*/
/*}*/

/*ul.topnav li {float: left;}*/

/*ul.topnav li a {*/
/*display: inline-block;*/
/*color: #f2f2f2;*/
/*text-align: center;*/
/*padding: 14px 16px;*/
/*text-decoration: none;*/
/*transition: 0.3s;*/
/*font-size: 17px;*/
/*}*/

/*ul.topnav li a:hover {background-color: #555;}*/

/*ul.topnav li.icon {display: none;}*/

/*@media screen and (max-width:900px) {*/
/*ul.topnav li:not(:first-child) {display: none;}*/
/*ul.topnav li.icon {*/
/*float: right;*/
/*display: inline-block;*/
/*}*/
/*}*/

/*@media screen and (max-width:900px) {*/
/*ul.topnav.responsive {position: relative;}*/
/*ul.topnav.responsive li.icon {*/
/*position: absolute;*/
/*right: 0;*/
/*top: 0;*/
/*}*/
/*ul.topnav.responsive li {*/
/*float: none;*/
/*display: inline;*/
/*}*/
/*ul.topnav.responsive li a {*/
/*display: block;*/
/*text-align: left;*/
/*}*/
/*}*/
html, body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: inherit
}

.container {
    margin: 0 20px;
    overflow: hidden;
    *zoom: 1
}

.site-content {
    padding-top: 66px
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #FFF;
    background-color: #333
}

.header__logo {
    font-weight: bold;
    padding: 0 25px;
    float: left
}

.menu {
    float: left
}

.menu a {
    padding: 0 10px
}

.menu a:hover {
    color: #c6ff00
}

@media only screen and (max-device-width: 700px) {
    .site-pusher, .site-container {
        height: 100%
    }

    .site-container {
        overflow: hidden
    }

    .site-pusher {
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    .site-content {
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch
    }

    .header {
        position: static
    }

    .header__icon {
        position: relative;
        display: block;
        float: right;
        width: 50px;
        height: 66px;
        cursor: pointer
    }

    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        top: 16px;
        left: 15px;
        -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
        -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
        box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff
    }

    .menu {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: #333;
        width: 250px;
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -webkit-transform: translateX(250px);
        transform: translateX(250px)
    }

    .menu a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #333
    }

    .with--sidebar .site-pusher {
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -webkit-transform: translateX(-250px);
        transform: translateX(-250px)
    }

    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6)
    }
}
