

/*layout*/

.wrapper {
}

article {
    border-bottom: 1px solid #d8d8d8;
    padding: 0.4em 1.2em 0 1.2em;
    margin: .6em 0;
}


/* Le menu collé à gauche est masqué grâce à un transform */
.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top:6em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #1c1c1c;
    width: 12em;
    transform: translateX(-12em);

}
/* Un lien par ligne */
.menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #555555;
}

/* Toujours dans le @media */
.with--sidebar .site-pusher {
    transform: translateX(12em);
}
/* On met un cache par dessus le site-content pour bloquer le scroll et permettre le retour au site */
.with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

/*h1.logo a {*/
    /*color: #d8d8d8;*/
    /*text-decoration: none;*/
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*font-size: 0.6em;*/
    /*line-height: 1.2em;*/
    /*float: left;*/
    /*letter-spacing: 0.2em;*/
/*}*/


/* Gros Menu sur la droite on efface pas encore mais on y pense */
/*a.to_nav {*/
    /*float: right;*/
    /*color: #fff;*/
    /*background: #4e4e4e;*/
    /*text-decoration: none;*/
    /*padding: 0 .6em;*/
    /*font-size: 0.8em;*/
    /*font-weight: bold;*/
    /*line-height: 1.85em;*/
    /*height: 1.8em;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 0.1em;*/
    /*-webkit-border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
    /*border-radius: 2px;*/
/*}*/

/*a.to_nav:hover,*/
/*a.to_nav:focus {*/
    /*color: #1c1c1c;*/
    /*background: #ccc;*/
/*}*/


/*@media only screen and (max-width: 768px) {*/

    /*#primary_nav {*/
        /*display: none;*/
    /*}*/
/*}*/
/*@media only screen and (min-width: 768px) {*/

    /*a.to_nav {*/
        /*display: none;*/
    /*}*/

    /*.wrapper {*/
        /*position: relative;*/
        /*width: 768px;*/
        /*margin: auto;*/
    /*}*/

    /*#primary_nav {*/
        /*position: absolute;*/
        /*top: 5px;*/
        /*right: 10px;*/
        /*background: none;*/
    /*}*/

    /*#primary_nav li {*/
        /*display: inline;*/
    /*}*/

    /*#primary_nav li a {*/
        /*float: left;*/
        /*border: none;*/
        /*padding: 0 10px;*/
        /*-webkit-border-radius: 2px;*/
        /*-moz-border-radius: 2px;*/
        /*border-radius: 2px;*/
    /*}*/

/*}*/

/*.header__icon {*/

    /*position: relative;*/
    /*display: block;*/
    /*float: right;*/
    /*width: 50px;*/
    /*height: 66px;*/
    /*cursor: pointer; }*/

/*.header__icon:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*display: block;*/
    /*width: 1rem;*/
    /*height: 0;*/
    /*top: 16px;*/
    /*left: 15px;*/
    /*box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }*/

