p,
ul {
    margin: 0 0 1.5em;
}

ul {
    list-style: disc;
    padding: 0 0 0 20px;
}

a {
    color: #1D745A;
}

h1 {

}

h2 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}

/*layout*/

.wrapper {
}

article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
}

/*header*/

header {
    background: #1c1c1c;
    padding: 15px 20px;
}

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
header:before,
header:after {
    content:"";
    display:table;
}

header:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
}

h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
}

a.to_nav {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}
/*menu*/

#primary_nav ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}

#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}

#primary_nav li:last-child a {
    border-bottom: none;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}

/*pied de page*/

footer {
    /*font-family: 'PT Serif', serif;*/
    font-family: Roboto;
    font-style: italic;
    text-align: center;
    font-size: 14px;
}


@media only screen and (min-width: 768px) {

    a.to_nav {
        display: none;
    }

}

@media only screen and (min-width: 768px) {

    a.to_nav {
        display: none;
    }

    .wrapper {
        position: relative;
        width: 768px;
        margin: auto;
    }

    #primary_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }

    #primary_nav li {
        display: inline;
    }

    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

}

.header__icon {

    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer; }

.header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; }

