{# src/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>

{% block header %}
    {% include '::header.html.twig' %}
{% endblock %}

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>
