{# app/Resources/views/Default/base.html.twig #}
<!DOCTYPE html>
<html>
<head>


    <title>Wako057</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>
<body>
{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

<div id="topbar">
    {% block topbar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>

