{# app/Resources/views/Default/layout.html.twig #}
{% extends 'base.html.twig' %}

{{ include('Default/header.html.twig') }}

{% block header %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
{% endblock %}

{% block body %}
    <h1>Index</h1>

    {% block content %}{% endblock %}
{% endblock %}
